#black-menu {
    -fx-background-color: #2F2F2F;
}

#black-menu-buttons {
    -fx-background-color: #2f2f2f; 
    -fx-text-fill: -fx-text-inner-color;
    -fx-text-inner-color: white;
    -fx-font-size: 3em
}

#searchBar {
    -fx-background-color:  #2f2f2f;
}

#searchBar-input {
    -fx-background-color: #464647; 
    -fx-background-radius: 25px;
}

#searchBar-textField {
    -fx-background-color: #464646;
}

#searchBar-close {
    -fx-background-color: #dddddd;
    -fx-text-fill: -fx-text-inner-color;
    -fx-text-inner-color: rgba(112, 112, 112, 0.973);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-alignment: center;
}

.text-area .content{
    -fx-background-color: #4CD964;
}

#searchBar-open {
    -fx-background-color: #2F2F2F;

}
#menu-button{
    -fx-background-color: #2F2F2F;
}

#recipeGrid {
    -fx-background-color: #dddddd;
}